.imageContainer {
  max-width: 90vw;
  margin: auto;
  margin-top: 80px;
}


.swiper {
  --swiper-pagination-color: #44D62C;
  --swiper-pagination-bullet-inactive-color: #fefefe !important;
  --swiper-pagination-bullet-inactive-opacity: 0.9;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-horizontal-gap: 15px;
  --swiper-pagination-border: 1px solid black;
  --swiper-navigation-color: #44D62C;
  --swiper-navigation-sides-offset: 50px;
  --swiper-navigation-size: 55px;
  min-width: 90%;
  padding: 0;
  margin: auto;
  height: 300px;
  justify-content: end;
}

.swiper::-webkit-scrollbar {
  display: none;
}

.swiperSlide {
  min-width: 90vw;
  height: 300px;
  margin: auto;
  justify-content: end;

}

.images {
  height: 300px;
  min-width: 90vw;
  justify-content: end;

}


/* For mobile devices (up to 767px wide) */
@media only screen and (max-width: 767px) {}

/* For tablets (768px to 1024px wide) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .imageContainer {
    min-width: 100%;
  }

  .images {
    min-width: 100%;
    object-fit: cover;
  }
}

/* For small laptops and desktops (1025px to 1440px wide) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

  .imageContainer {
    min-width: 100%;
  }

  .images {
    min-width: 100%;
    object-fit: cover;
  }

}

/* For large desktops (1441px and up) */
@media only screen and (min-width: 1536px) {}