.mainContainer {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  width: 288px;
  height: 550px;
  border: 2px solid rgb(85, 85, 85);
  margin: 0px 2.8px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.mainContainer .orderSection li img {
  width: 60px;
  padding: 10px;
}

.mainContainer .orderSection {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.mainContainer .orderSection li {
  border-top: 1px solid #555;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}

.mainContainer .orderSection li:first-child {
  border: none;
}

.mainContainer .orderSection li span {
  max-height: 50px;
  text-align: left;
  margin: auto;
}

.mainContainer .orderSection li h5 span {
  background-color: #222;
  position: absolute;
  top: -6.5px;
  left: 18.5%;
  padding: 0 10px 0 10px;
}

.mainContainer .orderSection li h5 {
  border-top: 1px solid #555;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.actionBtn li {
  min-height: 42px;
  border-top: 1px solid #555;
  font-size: 0.9rem;
  display: flex;
}

.actionBtn li:hover {
  color: #44D62C;
}

.actionBtn li:hover img {
  fill: #44D62C;
}

.link span:hover {
  color: #44D62C;
}


.actionBtn li:nth-child(1) {
  border-top: none;
}

.actionBtn li span {
  margin-left: 10px;
  line-height: 42px;
}

.actionBtn svg {
  width: 18px;
  fill: #fff;
}

.buttomSide {
  margin: auto;
  width: 90%;
}

.actionBtn {
  flex-direction: column;
}

.checkOutBtn {
  width: 60%;
  margin: auto;
  padding: 10px 20px 10px 20px;
  background-color: #44D62C;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 3px;
}