.footer li:hover {
  text-decoration: underline;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.icon {
  width: 28px;
}

.icons {
  padding: 0 !important;
}

.footer {
  padding: 0;
  margin: 0;
  height: 400px;
  background-color: #111111;
}

.main {
  height: 340px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.container {
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.container div {
  height: 300px;
  width: 179px;
  position: relative;
  font-family: Roboto;
  min-height: auto;
  max-width: 100%;
  min-width: auto;
  font-weight: 200px;
  font-weight: 400;
}

.list {
  list-style-type: none;
  font-size: 12px;
  display: block;
  padding-inline-start: 0px;

}

.list li:first-child {
  color: white !important;
}

.list li {
  color: #999;
  font-size: 12px;
  padding-bottom: 12px;
  line-height: 18px;
}



.lastDiv {
  color: #73E161;
  margin-top: 20px;
  font-family: 'RazerF5';
  font-weight: 300;
  font-size: 0.9rem;
  text-align: right;
}

.sep {
  width: 1200px;
  height: 1px;
  display: block;
  margin: auto;
  background-color: #555555;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #999999;
  width: 1200px;
  margin: auto;
  font-family: Roboto;
  font-size: 12px;
  margin-top: 10px;
}

.firstTwo {
  display: flex;
  flex-direction: row;
}

.legalTerm ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.legalTerm ul li {
  padding: 0 10px;
}

.copyright {
  line-height: 38px;
  padding-right: 38px;
}

.changeLocation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.changeLocation li {
  padding: 0 0 0 10px;
}

.changeLocation li:first-child {
  color: white;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .footer {
    width: 100%;
  }

  .main {
    width: 95%;
  }

  .sep {
    width: 95%;
  }

  .lastDiv {
    width: 20%;
  }

  .footerBottom {
    width: 90%;
  }
}

@media screen and (min-width: 987px) and (max-width: 1041px) {

  .footerBottom {
    margin: auto;
    width: 95%;
  }

  .copyrightDiv {
    flex-grow: 1;
    padding-right: 20px;
  }

  .copyright {
    padding: 0;
  }

  .legalTerm {
    flex-grow: 1;
  }

  .legalTerm ul {
    flex-grow: 1;

  }

  .legalTerm ul li {
    padding: 0 2px;
  }

  .changeLocation {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 987px) {
  .container {
    min-width: 10vw;
  }

  .legalTerm ul li {
    padding: 0;
  }

  .lastDiv {
    width: 10vw;
  }
}

@media (max-width: 907px) {

  .copyrightDiv {
    flex-grow: 2;
  }

  .firstTwo {
    display: block;
  }

  .footer {
    height: 100%;
  }

  .legalTerm {
    flex-grow: 0;
  }

  .legalTerm ul li {
    padding: 0 1px;
  }

}

@media (max-width: 760px) {
  .footer {
    display: none;
  }

}