.header {
  height: 60px;
  background-color: black;
  border-bottom: 1px solid #44D62C;
  box-shadow: 0px 0px 6px -1px #44D62C;
}

.navigator {
  max-width: 1200px;
  margin: auto;
}

.header ul {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}

.header ul li {
  cursor: pointer;
}

.menu:hover {
  opacity: 1;
  text-shadow: 0px 0px 7px #FFFFFF;
  border-bottom: 1px solid white;
}

.menu {
  font-family: 'RazerF5';
  font-weight: 200;
  opacity: 0.7;
  padding: 20px 25px;
}

.logo {
  margin-top: 13px;
  width: 35px;
}

.icons {
  margin-top: 20px;
  height: 22px;
  opacity: 0.6;
}

.hamburgerMenu {
  display: none;
}

.cartHolder {
  width: 1200px;
  height: 600px;
  align-items: center;
  position: absolute;
  border: red 2px dashed;
  margin: auto;
}

.cartSection {
  position: relative;
}

.cartDisplay {
  /* Positioning */
  position: absolute;
  top: 63px;
  right: -26px;
  z-index: 200;
  display: none;
}

.cartDisplay .arrowIcon {
  position: absolute;
  z-index: 205;
  justify-content: end;
  top: -19px;
  left: 85%;
  width: 20px;
}

.cartSection:hover div {
  display: block;
}

.itemsCounter {
  position: absolute;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  font-family: Roboto;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  background-color: #44D62C;
  top: 12px;
  right: -7px;
  border-radius: 8px;
}


@media (max-width: 1200px) {
  .hamburgerMenu {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
  }

  .header {
    width: 100%;
  }

  .navigator ul {
    width: 100vw;
    margin: auto;
  }

  .logo {
    width: 35px;
    margin-top: 13px;
  }

  .menu {
    display: none;
  }

  .search {
    display: none;
  }
}