.header {
  width: 100vw;
  height: 60px;
  background-color: black;
  border-bottom: 1px solid #44D62C;
  box-shadow: 0px 0px 6px -1px #44D62C;
}

.navigator {
  max-width: 1200px;
  margin: auto;
}

.header ul {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.menu:hover {
  opacity: 1;
  text-shadow: 0px 0px 7px #FFFFFF;
  border-bottom: 1px solid white;
}

.menu {
  font-family: 'RazerF5';
  font-weight: 200;
  opacity: 0.7;
  padding: 20px 25px;
}

.logo {
  margin-top: 13px;
  width: 35px;
}

.icons {
  margin-top: 20px;
  height: 22px;
  opacity: 0.6;
}