
.swiper {
  --swiper-pagination-color: #44D62C;
  --swiper-pagination-bullet-inactive-color: #fefefe !important;
  --swiper-pagination-bullet-inactive-opacity: 0.9;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-horizontal-gap: 15px;
  --swiper-pagination-border: 1px solid black;
  --swiper-navigation-color: #44D62C;
  --swiper-navigation-sides-offset: 50px;
  --swiper-navigation-size: 55px;
  width: 1200px;
  padding: 0;
  margin: auto;
}

.swiper::-webkit-scrollbar {
  display: none;
}

.images {
  height: 250px;
  width: 1400px;
  position: relative;
}

.leftArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  z-index: 1;
  cursor: pointer;
}

.dotsContainerStyle {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 1200px;
  margin: auto;
  top: 85%;
}

.dotStyle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: white;
  margin: 0 15px;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  border: 1px solid black;
}

.content {
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  color: white;
  font-family: "razerF5";
  font-weight: 600;
}

.content h2 {
  font-size: 24px;
  font-family: "razerF5-Bold";
}

.content div {
  font-size: 18px;
}

.content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.basilisk {
  margin-left: 750px;
}

.animation {
  transition: 0.8s linear;
}

@media (max-width: 1200px) {
  .images {
    width: 100vw;
  }


}