.container {
  margin: auto;
  font-family: Roboto;
  margin-top: 100px;
}

.header {
  width: 1200px;
  margin: auto;
  color: #FFFFFF;
  margin-bottom: 5px;

}

.header h2 {
  margin: 0;
  display: flex;

}

.paragraphs p {
  color: #ffffff85;
  font-size: 1.2rem;
  margin: 0;
  display: flex;

}